.App {
  text-align: center;
  color: #ff7b1c;
  margin-top: 69px;
  font-size: 24px;
  letter-spacing: 8px;
  text-shadow: 0 2px 9px azure;
}

.math {
  color: antiquewhite;
  font-size: 28px;
  letter-spacing: 8px;
  margin: 30px;
  box-shadow: 0 0 9px azure;
  width: fit-content;
  border-radius: 5px;
  padding: 6px;
}
