/* start nav */
nav {
  background-color: orange;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.nav__container__parnav__ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container__parnav__ul > li {
  margin-left: 20px;
}

.nav__container__parnav__ul > li > a {
  padding: 20px;
  display: block;
  font-size: 17px;
  transition: all 0.5s;
  color: #0b1439;
}

.nav__container__parnav__ul > li > a:hover {
  background-color: #071c40;
  color: antiquewhite;
}

/* end nav */
